# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.pcm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##PYTHON
*.pyc
__init__.py

## Images
*.jpg
*.png
*.pdf
*.gif
*.odp

## ROOT OBJECT
*.root

# Correlator data
*.PP
*.PS
*.SP
*.SS
